{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Emotion Prediction</title>
</head>
<body>
    <h1>Emotion Prediction</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Predict Emotion</button>
    </form>
    {% if label %}
        <h2>Predicted Emotion: {{ label }}</h2>
    {% endif %}
</body>
</html>
